/*-- scss:defaults --*/
@import 'https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap';

$navbar-bg: #BA0C2F;
$body-color: #000000;
$link-color: #E4002B;

/*-- scss:rules --*/
footer.footer,
footer.footer .nav-footer,
footer.footer .nav-footer-left,
footer.footer .nav-footer-center,
footer.footer .nav-footer-right {
  background-color: #eae9e5 !important;
  color: #000000 !important;
  border: 0 !important;
  box-shadow: none !important;
  margin-top: 0;
}

footer.footer {
  padding: 1.5rem 0;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem;

  a {
    color: #E4002B;
    text-decoration: none;

    &:hover {
      color: #BA0C2F;
      text-decoration: underline;
    }
  }
}

.publication_link {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  color: #E4002B;
}

h1,
h2 {
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  color: #eae9e5;
}

h3 {
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  color: #000000;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  font-weight: 500;
  font-size: 1.75rem;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

h4 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 1.2rem;
  color: #000000;
}

h1 span,
h2 span {
  display: inline;
  position: relative;
  z-index: 1;
  background-color: #004E60;
  padding: 0 6px;
  border-radius: 4px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  transform: skew(5deg);
}

.navbar li.nav-item a.nav-link {
  color: #eae9e5 !important;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.25rem;
  font-weight: 400;
}

.navbar-title {
  font-family: "Hanken Grotesk", sans-serif;
  color: #ffffff !important;
  font-weight: 800;
  font-size: 1.75rem;
}

.navbar li.nav-item:hover a.nav-link {
  color: #ffffff !important;
  font-weight: 500;
}

.navbar-title:hover {
  color: #004E60 !important;
}

a:hover {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
}

.btn-primary,
.btn-code {
  border-width: 2px;
  color: #eae9e5;
  padding: 0 2px;
  font-size: 1rem;
}

.btn-primary {
  background-color: #004E60;
  border-color: #004E60;
}

.btn-code {
  background-color: #554F47;
  border-color: #554F47;
}

.btn-primary:hover {
  background-color: #eae9e5;
  color: #004E60 !important;
  border-color: #004E60;
}

.btn-code:hover {
  background-color: #eae9e5;
  color: #554F47 !important;
  border-color: #554F47;
}